name: Build Deploy Kubernetes Application
run-name: Build Deploy Kubernetes Application in [${{ inputs.ENVIRONMENT }}] by ${{ github.actor }} ${{ github.run_number }}

# Before running this workflow checkout its prerequisites at:
# https://github.com/will-bank/build-deploy-kubernetes-application-workflow#readme

on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        type: choice
        description: 'Environment to run pipeline'
        required: true
        default: development
        options:
          - development
          - production
      # PROMOTE_TAG:
      #   type: choice
      #   description: 'Promote the development tag to production'
      #   required: false
      #   default: false
      #   options:
      #     - false
      #     - true

permissions:
  id-token: write
  contents: write
  actions: write
  security-events: write

jobs:
  workflow:
    uses: will-bank/build-deploy-kubernetes-application-workflow/.github/workflows/build-deploy-kubernetes-application.yml@v0.26.9
    with:
    #REQUIRED ARGS
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}

    #OPTIONAL ARGS
      #DOCKER_BUILD_ARGS: <Build Args>
      #DOCKER_BUILD_SECRETS: <Build Secrets>
      #DOCKER_BUILD_SECRET_FILES: <Build secret files>
      #USE_DOCKER_CACHE_LAYERS: <true/false> Enable cache layers
      #BUILD_LIQUIBASE: <true/false> Enable liquibase
      #INIT_SUBMODULES: <true/false> Enable init sub modules
      #AWS_ECR_ROLE: <Use different ECR role>
      #USE_GIT_LFS: <true/false> Enable git LFS
      
      #FOR MONOREPO
      #DOCKERFILE_PATH: <PATH>
      #IAC_DIR: <DIR>
      #KUBERNETES_MANAGER: <kustomize|helm>
      #IMAGE_KEY: <VALUE>
      #PROMOTE_TAG: ${{ fromJSON(inputs.PROMOTE_TAG) }}

    secrets: inherit
